<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8">
		<title>Document</title>
	</head>
	<body>
	 	<h1>Hello Sinatra!</h1>
	 	<form action="/new"  method="post">
	 		<p>名前:<input type="text" name="user_name"></p>
	 		<p>内容:<input type="text" name="body"></p>
	 		<p><input type="submit" value="投稿"></p>
	 	<ul>
	 		<li>
	 			<p>なまえ</p>
	 			<p>ここに投稿する内容</p>
	 		</li>
	 	</ul>
	</body>
</html>